div#title-row h1{
  width:100%;
  margin:0;padding:0;
}
div#title{
  width:100%;
  margin:0;padding:0;
  background-color: #293138;
  color:orange;
  text-align: center;
  height:100px;
  margin-top: 1%;
}
.hero{
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  opacity: 0.7;
}
.hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}
.hero .intro {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero .content{
  text-align: center;
  color:#fff;
  font-size: 36px;
}
.hero h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  text-align: center;
}
.hero #btn {
  height: 2.5em;
  width: 7em;
  border-radius: 4em;
  background-color: #313236;
  color: orange;
  font-size: 30px;
}
.footer{
  position: relative;
  text-align: center;
  background-color:#293138;
  height:5em;
}
.footer .content{
  text-align: center;
  color:#fff;
  font-size: 24px;
}
.footer .content .subtle{
  display: block;
  color:grey;
  font-size: 24px;
}
